<!--HEADER START-->
<header class="header-style-3">
  <!--NAV CONTAINER START-->
  <div class="nav-container">
      <div class="container">
          <!--LOGO START-->
          <div class="logo">
              <img src="assets/images/logo.png" >
            </div>
            <!--LOGOEND-->
            <!--NAVIGATION CONTENT START-->
            <div class="nav-content">
      <div id="kode-responsive-navigation" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu" >
                        <li class="menu-item kode-parent-menu "><a href="index-1.htm">Home</a>
            <ul class="dl-submenu">
                                <li><a href="index-2.htm">Home Layout 1</a></li>
                                <li><a href="index-boxed.htm">Home Layout 2</a></li>
                            </ul>
          </li>
          <li><a href="about-us.htm">About Us</a></li>
                        <li class="menu-item kode-parent-menu"><a href="latest-news.htm">Events</a>
                            <ul class="dl-submenu">
                                <li><a href="latest-news.htm">Event Style 1</a></li>
                                <li><a href="latest-news-2.htm">Event Style 2</a></li>
                                <li><a href="latest-news-3.htm">Event Style 3</a></li>
              <li><a href="event-detail.htm">Event Detail</a></li>
                            </ul>
                        </li>
                       
                        <li class="menu-item kode-parent-menu"><a href="team.htm">Our Team</a>
            <ul class="dl-submenu">
                                <li><a href="team-detail-2.htm">Team Detail</a></li>
                            </ul>
          </li>
                        <li class="menu-item kode-parent-menu"><a href="#">Causes</a>
                            <ul class="dl-submenu">
                                <li><a href="causes.htm">Causes Grid View</a></li>
                                <li><a href="causes-list-view.htm">Causes List View</a></li>
              <li><a href="cause-detail.htm">Causes Detail</a></li>
                            </ul>
                        </li>
                        
                        <li class="menu-item kode-parent-menu"><a href="#">Blog</a>
                            <ul class="dl-submenu">
                                <li><a href="blog.htm">Blog Grid View</a></li>
                                <li><a href="blog-2.htm">Blog Full Width</a></li>
                                <li><a href="blog-2-col.htm">Blog 2 column</a></li>
                                <li><a href="blog-detail.htm">Blog Detail</a></li>
                            </ul>
                        </li>							
           <li class="menu-item kode-parent-menu last"><a href="#">Pages</a>
                            <ul class="dl-submenu">
                                <li><a href="under-construction.htm">Under Cunstruction</a></li>
              <li><a href="error.htm">Error 404</a></li>
                                <li><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery-2-col.htm">Gallery (2 Column)</a></li>
                                        <li><a href="gallery-3-col.htm">Gallery (3 Column)</a></li>
                                        <li><a href="gallery-4-col.htm">Gallery (4 Column)</a></li>
                                    </ul>
                                </li>
              <li><a href="shop.htm">Shop</a>
                <ul>
                                        <li><a href="shop-detail.htm">Shop Detail</a></li>                                            
                                    </ul>
              </li>
              <li><a href="#">Shortcode</a>
                <ul class="children">
                <li><a href="skills.htm">Skills Shortcode</a></li>
                <li><a href="list.htm">List Style</a></li>
                <li><a href="frame.htm">Frame Shortcode</a></li>
                <li><a href="button.htm">button Style</a></li>
                <li><a href="accordian.htm">accordian</a></li>
                <li><a href="video.htm">video</a></li>
                <li><a href="tabs.htm">Tabs</a></li>
                <li><a href="table.htm">table</a></li>
                <li><a href="sepratore.htm">separator</a></li>
                <li><a href="headings.htm">heading</a></li>
                <li><a href="testimonials.htm">testimonials</a></li>
                <li><a href="map.htm">map</a></li>
                <li><a href="message.htm">Message</a></li>
                </ul>
              </li>
                            </ul>
                        </li>
                        <li><a href="contact-us.htm">Contact Us</a></li>
                    </ul>
      </div>
              <!--NAVIGATION START-->
                <div class="navigation">
                    <ul>
                        <li class="menu-item kode-parent-menu"><a href="index-1.htm">Home</a>
            <ul class="dl-submenu">
                                <li><a href="index-2.htm">Home Layout 1</a></li>
                                <li><a href="index-boxed.htm">Home Layout 2</a></li>
                            </ul>
          </li>
          <li><a href="about-us.htm">About Us</a></li>
                        <li class="menu-item kode-parent-menu"><a href="latest-news.htm">Events</a>
                            <ul class="dl-submenu">
                                <li><a href="latest-news.htm">Event Style 1</a></li>
                                <li><a href="latest-news-2.htm">Event Style 2</a></li>
                                <li><a href="latest-news-3.htm">Event Style 3</a></li>
              <li><a href="event-detail.htm">Event Detail</a></li>
                            </ul>
                        </li>
                       
                        <li class="menu-item kode-parent-menu"><a href="team.htm">Our Team</a>
            <ul class="dl-submenu">
                                <li><a href="team-detail-2.htm">Team Detail</a></li>
                            </ul>
          </li>
                        <li class="menu-item kode-parent-menu"><a href="#">Causes</a>
                            <ul class="dl-submenu">
                                <li><a href="causes.htm">Causes Grid View</a></li>
                                <li><a href="causes-list-view.htm">Causes List View</a></li>
              <li><a href="cause-detail.htm">Causes Detail</a></li>
                            </ul>
                        </li>
                        
                        <li class="menu-item kode-parent-menu"><a href="#">Blog</a>
                            <ul class="dl-submenu">
                                <li><a href="blog.htm">Blog Grid View</a></li>
                                <li><a href="blog-2.htm">Blog Full Width</a></li>
                                <li><a href="blog-2-col.htm">Blog 2 column</a></li>
                                <li><a href="blog-detail.htm">Blog Detail</a></li>
                            </ul>
                        </li>							
           <li class="menu-item kode-parent-menu last"><a href="#">Pages</a>
                            <ul class="dl-submenu">
                                <li><a href="under-construction.htm">Under Cunstruction</a></li>
              <li><a href="error.htm">Error 404</a></li>
                                <li><a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="gallery-2-col.htm">Gallery (2 Column)</a></li>
                                        <li><a href="gallery-3-col.htm">Gallery (3 Column)</a></li>
                                        <li><a href="gallery-4-col.htm">Gallery (4 Column)</a></li>
                                    </ul>
                                </li>
              <li><a href="shop.htm">Shop</a>
                <ul>
                                        <li><a href="shop-detail.htm">Shop Detail</a></li>                                            
                                    </ul>
              </li>
              <li><a href="#">Shortcode</a>
                <ul class="children">
                <li><a href="skills.htm">Skills Shortcode</a></li>
                <li><a href="list.htm">List Style</a></li>
                <li><a href="frame.htm">Frame Shortcode</a></li>
                <li><a href="button.htm">button Style</a></li>
                <li><a href="accordian.htm">accordian</a></li>
                <li><a href="video.htm">video</a></li>
                <li><a href="tabs.htm">Tabs</a></li>
                <li><a href="table.htm">table</a></li>
                <li><a href="sepratore.htm">separator</a></li>
                <li><a href="headings.htm">heading</a></li>
                <li><a href="testimonials.htm">testimonials</a></li>
                <li><a href="map.htm">map</a></li>
                <li><a href="message.htm">Message</a></li>
                </ul>
              </li>
                            </ul>
                        </li>
                        <li><a href="contact-us.htm">Contact Us</a></li>

                    </ul>
                </div>
                <!--NAVIGATION END-->
                <div class="kf-nav-options">
                  <ul>
                      <li><a href="#"><i class="fa fa-bars"></i></a></li>
                        <li><a href="donate.htm"><i class="fa fa-heart-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                    
                </div>
            </div>
            <!--NAVIGATION CONTENT END-->
        </div>
    </div>
    <!--NAV CONTAINER END-->
</header>
<!--HEADER END-->

    
  

   
    