
/*
===========================================
				HEADER START
===========================================
*/
header{
	float:left;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.7);
	z-index:10;
}

.header-2{
	position:static;
}
.nav-container{
	float:left;
	width:100%;
}
.nav-container .container{
	position:relative;
	z-index:100;
}
.btn-filled{
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 30px;
	color:#fff;
	font-family: 'Slabo 27px', serif;
	border-radius:2px;
}
.btn-filled:hover{
	background-color:#000;
	text-decoration:none;
	color:#fff;
}
.btn-filled-rounded{
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	padding:8px 20px;
	color:#fff;
	border-radius:50px;
	font-family: 'Slabo 27px', serif;
}
.btn-filled-rounded:hover{
	background-color:#000;
	text-decoration:none;
	color:#fff;
}
.btn-borderd{
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 30px;
	color:#fff;
	border:solid 2px #fff;
	font-family: 'Slabo 27px', serif;
}
.btn-filled-white{
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 30px;
	color:#000;
	background:#fff;
	font-family: 'Slabo 27px', serif;
	text-decoration:none;
}
.btn-filled-white:hover{
	color:#fff;
	background-color:#000;
	text-decoration:none;
}
.btn-borderd:hover{
	text-decoration:none;
	color:#fff;
}
/*
===========================================
				HEADER 2
===========================================
*/
.header-2 .nav-container{
	background-color:#fff;
	
}
.header-2 .navigation ul li a{
	color:#7f7f7f;
	padding:10px 14px;
}
.header-2 .navigation ul ul li a{
	color: #fff;
}
.header-2 .navigation ul ul li a, .header-2 .navigation ul li a:hover{

}
.header-2 .logo{
	height:80px;
	width:240px;
}
.header-2 .logo img{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	margin:auto;
}
.nav-content{
	margin:6px 0px 0px 0px;
}
.header-2 .nav-content{
	margin:18px 0px 16px 0px;
}

.header-2 .nav-content .kode-donate-now{
	float:left;
	margin:0px 0px 0px 15px;
}
.header-2 .nav-content .kode-donate-now a{
	display:block;
	height:46px;
	padding:10px 20px;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	border-radius:3px;
	text-decoration:none;
}
.header-2 .nav-content .kode-donate-now a i{
	margin:0px 8px 0px 0px;
}
.header-2 .nav-content .kode-donate-now a:hover{
	background-color:#000;
}
.header-2 .logo:after{
	content:"";
	position:absolute;
	left:100%;
	height:100%;
	width:2000%;
	top:0px;
	display: none;
}

/*
===========================================
				LOGO
===========================================
*/

.logo{
	float:left;
	padding:18px 0px 32px 0;
	position:relative;
}
.logo:before{
	content:"";
	position:absolute;
	right:100%;
	height:100%;
	width:2000%;
	top:0px;
}


.nav-content{
	float:right;
}
/*
===========================================
			NAVIGATION START
===========================================
*/
.navigation{
	float:left;
	/*margin-left: 40px;*/
}
.navigation ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
}
.navigation ul li{
	float:left;
	position:relative;
   /* margin-left: 12px;*/
}
.navigation ul li a {
	text-transform:uppercase;
	color:#fff;
	font-weight:600;
	text-decoration:none;
	display:block;
	padding:20px 14px;
	position:relative;
	z-index:10;
  font-size: 80%;
  font-family: 'PT Serif', serif;
	font-weight:normal;
	padding-top: 30px;
    padding-bottom: 30px;
  
}
.navigation ul li:hover > a{
}
.navigation ul li:before{
	content:"";
	position:absolute;
	left:0px;
	bottom:0px;
	right:0px;
	margin:auto;
	height:3px;
	width:0px;
	opacity:0
}
.navigation ul li:hover:before{
	width:100%;
	border-radius:0px;
	opacity:1;
}

.navigation ul ul{
	position:absolute;
	top:116%;
	left:0px;
	opacity:0;
	visibility:hidden;
	margin:20px 0px 0px 0px;
	width:auto;
	padding:6px;
	border-bottom: solid 6px rgba(0,0,0,0.2);
	z-index: 1000;
}

.navigation ul ul:before{
	content: "";
	height: 16px;
	width: 16px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	left: 30px;
	top: -4px;
}
.navigation ul li.last ul:before{
	left: auto;
	right: 30px;

}
.navigation ul li.last ul ul:before{
	left: auto;
	right: -4px;

}
.navigation ul li.last ul{
	left: auto;
	right: 0px;	
}
.navigation ul li.last ul ul{
	left: auto;
	right: 107%;

}
.navigation ul ul ul:before{
	left: -4px;
	top: 10px;

}

.navigation ul li:hover > ul{
	opacity:1;
	margin-top:0px;
	visibility:visible;
}
.navigation ul ul li{
	float:left;
	width: 100%;
	min-width:200px;
	
}
.navigation ul ul li a{
	color: #fff;
}
.navigation ul ul li:before{
	left:0px;
	top:0px;
	height:100%;
	right:auto;
	background-color:#000;
}
.navigation ul ul li a{
	padding:10px 14px;
	position:relative;
}
.navigation ul ul li:hover a{
	padding:10px 14px 10px 25px;
}
.navigation ul ul li a:before{
	content:"\f105";
	font-family:FontAwesome;
	font-size:12px;
	color:#fff;
	position:absolute;
	left:5px;
	top:12px;
}
.navigation ul ul li:hover a:before{
	left:10px;
}
.navigation ul ul ul{
	left:107%;
	top:-7px;
}
/*
===========================================
		SEARCH, NAV BARS, FAV
===========================================
*/

.kf-nav-options{
	float:left;
	padding-top: 10px;
}
.kf-nav-options ul{
	list-style:none;
	float:left;
	padding:0px 10px;
	margin:19px 0px;
}
.kf-nav-options ul li{
	float:left;
	margin:0px 10px;
}
.kf-nav-options ul li a{
	color:#fff;
	font-size:16px;
}
#kode-responsive-navigation{
	display: none;
}
