
/*
===========================================
				BANNER
===========================================
*/
.main-banner{
	float:left;
	width:100%;
}
.main-banner .bxslider li:before{
	content:"";
	background-color:rgba(0, 0, 0, 0.63);
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
}

.main-banner .bxslider .caption{
	position:absolute;
	left:0px;
	top:50%;
	z-index:100;
	text-align:center;
	width:100%;
}
.main-banner .bxslider .caption h2{
	font-size:60px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0px;
	color:#fff;
}
.main-banner .bxslider .caption h3{
	font-size:40px;
	font-weight:normal;
	color:#fff;
	text-transform:uppercase;
	margin:0px 0px 20px 0px;
}
.main-banner .bxslider .caption a.donate{
	display:inline-block;
	padding:10px 30px;
	border:solid 1px #fff;
	border-radius:5px;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
}
.main-banner .bxslider .caption .banner-meta{
	float:left;
	width:100%;
	margin:0px 0px 20px 0px;
}

.main-banner .bxslider .caption .banner-meta a{
	font-size:14px;
	color:#fff;
	display:inline-block;
	margin:0px 5px;
	text-decoration:none;
	padding:5px 10px;
	border-radius:5px;
}
.main-banner .bxslider .caption .banner-meta small{
	font-size:14px;
	text-decoration:none;
}

.main-banner .bxslider .caption .banner-meta i{
	margin:0px 10px 0px 0px;
}
.main-banner-2 .bx-pager,
.main-banner .bx-pager{
	position:absolute;
	bottom:20px;
	left:0px;
	width:100%;
	display:block;
}
.main-banner-2 .bx-wrapper .bx-pager.bx-default-pager a,
.main-banner .bx-wrapper .bx-pager.bx-default-pager a{
	height:10px;
	width:10px;
}
.main-banner-2 .bx-wrapper .bx-pager.bx-default-pager a.active,
.main-banner .bx-wrapper .bx-pager.bx-default-pager a.active{
	height:15px;
	width:15px;
}
.main-banner .bx-wrapper .bx-controls-direction{
	display:none;
}
.main-banner-2{
	float:left;
	width:100%;
}
.main-banner-2 .bx-wrapper .bx-pager{
	display:none;
}
.main-banner-2 .bxslider li{
	position:relative;
}
.main-banner-2 .bxslider li:before{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	content:'';
	opacity:0.2;
	background-color:#000;
}
.main-banner-2 .bxslider .caption-2{
	position:absolute;
	left:50%;
	margin-left:-500px;
	width:600px;
	z-index:100;
	top:30%;
}
.main-banner-2 .bxslider .caption-2 h2{
	font-size:60px;
	color:#fff;
}
.main-banner-2 .bxslider .caption-2 p{	
	font-size:22px;
	margin-bottom:20px;
	color:#fff;
}
.main-banner-2 .bxslider .caption-2 a{
	font-size:18px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	display:inline-block;
	padding:15px 30px;
	text-decoration:none;
	border-radius:4px;
}
.main-banner-2 .bx-wrapper .bx-controls-direction a:before{
	content:"";
	font-family:FontAwesome;
}
.content section.big-search{
	padding:0px;
}
.kode-search-2{
	float:left;
	width:100%;
	margin-top:-50px;
	position:relative;
	z-index:200;
}
.kode-search-2 input[type="text"]{
	float:left;
	width:100%;
	height:100px;
	font-size:22px;
	border:none;
	color: #000;
}
.kode-search-2 button{
	position:absolute;
	border:none;
	border-radius:0px;
	top:0px;
	right:0px;
	height:100%;
	padding:20px 30px;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
}
.kode-search-2 button i{
	margin:0px 10px 0px 0px;
}