<div class="main-banner">
  <ul class="bxslider">
      <li>
          <img src="/assets/images/banner-1.png" alt="">
            <div class="caption">
              <h2>Welcome to Women Empowerment </h2>
                <h3>for those who need it!</h3>
                <div class="banner-meta">
                  <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
                    <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
                    <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
                    <a href="/home/authentificate"*ngIf="NotConnected">
                      <i class="fa fa-user"></i>
                      
                        <small >Sign In</small>
                      </a>
      
                      <a href="/administrator"*ngIf="Admin"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      <a href="/client"*ngIf="Client"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      
                      
                      <a href="/home/authentificate"*ngIf="Admin || DepartmentManager || Client || DeliveryPerson" (click)="logOut()">
                        <i class="fa fa-key"></i><small >LogOut</small>
                      </a>
                    
                </div>
                <a href="#" class="donate">Donate Now</a>
            </div>
        </li>
        <li>
          <img src="/assets/images/banner-2.png" alt="">
            <div class="caption">
              <h2>Women Empowerment </h2>
                <h3>for those who need it!</h3>
                <div class="banner-meta">
                  <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
                    <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
                    <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
                    <a href="/home/authentificate"*ngIf="NotConnected">
                      <i class="fa fa-user"></i>
                      
                        <small >Sign In</small>
                      </a>
      
                      <a href="/administrator"*ngIf="Admin"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      <a href="/client"*ngIf="Client"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      
                      
                      <a href="/home/authentificate"*ngIf="Admin || DepartmentManager || Client || DeliveryPerson" (click)="logOut()">
                        <i class="fa fa-key"></i><small >LogOut</small>
                      </a>
                    

                </div>
                <a href="#" class="donate">Donate Now</a>
            </div>
        </li>
        <li>
          <img src="/assets/images/banner-3.png" alt="">
            <div class="caption">
              <h2>Women Science & Technology</h2>
                <h3>for those who need it!</h3>
                <div class="banner-meta">
                  <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
                    <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
                    <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
                    <a href="/home/authentificate"*ngIf="NotConnected">
                      <i class="fa fa-user"></i>
                      
                        <small >Sign In</small>
                      </a>
      
                      <a href="/administrator"*ngIf="Admin"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      <a href="/client"*ngIf="Client"><i class="fa fa-user"></i>
                        <small >{{user}}</small>
                      </a>
                      
                      
                      <a href="/home/authentificate"*ngIf="Admin || DepartmentManager || Client || DeliveryPerson" (click)="logOut()">
                        <i class="fa fa-key"></i><small >LogOut</small>
                      </a>
                </div>
                <a href="#" class="donate">Donate Now</a>
            </div>
        </li>
    </ul>
</div>
